@import 'variables';

footer {
  position: static;

  & {
    position: static;
    /* margin-top: 2%; */
    bottom: 0%;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #f2f2f2;
  }

  .shared-button, nav li a {
    text-decoration: none;
    font-size: 120%;
  }
}
