@import "_variables";
@import "_footer";

@mixin button-styles {
  background-color: $color-primary;
  color: $color-text;

  &:hover {
    background-color: $color-hover;
  }

  &.active {
    background-color: lighten($color-background, 20%); // Iluminar el botón activo en un 20%
  }
}

@mixin logo-styles($size) {
  width: $size;
  height: $size;
}

// Clase compartida para estilos comunes entre enlaces y botones
.shared-button {
  text-decoration: none;
  font-size: 120%;
}

.cuerpo {
  margin: 0;
  padding: 0;
  background-image: url("../img/piramide.jpg");
  font-family: Verdana, Geneva, sans-serif;

  .menu {
    @include button-styles;
  }

  button {
    @include button-styles;
    @extend .menu; // Extiendo los estilos del mixin button-styles para los botones
  }

  @media (max-width: 767px) {
    video:not(.responsive-video) {
      max-width: 100%;
      height: auto;
    }
    .botella {
      width: 100%;
    }
    $contacto-max-width: 70% + 20%; // Aumento el tamaño del contenedor de contacto en un 20%
    .contacto {
      max-width: $contacto-max-width;
    }
  }
}

section video {
  max-width: 50%;
  height: auto;
}

$img-logo-size: $logo-size + 10px; // Modifico el tamaño del logo aumentándolo en 10 píxeles

.img-logo {
  @include logo-styles($img-logo-size);
}

nav ul {
  list-style: none;
  padding: 0;
}

// Extiendo la clase compartida solo para los enlaces y para los botones cuando el mouse está sobre ellos
nav li {
  display: inline;
  padding: 10px;

  a {
    @extend .shared-button; // Extiendo los estilos comunes para enlaces 

    &.active {
      color: lighten($color-text, 20%); // Ilumino el texto del botón activo en un 20%
    }

    &:hover {
      @include button-styles; // Aplico estilos definidos en el mixin button-styles cuando el mouse está sobre el enlace
      color: white; // Cambiar el color del texto a blanco cuando el mouse está sobre el enlace
    }
  }
}

.botella {
  width: 50%;
  height: auto;
}

.contenedor-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.contacto {
  background-color: $color-background;
  padding: 3%;
  max-width: 30%;
  width: 100%;
}

textarea {
  width: 100%;
}
